*.class
*.swp
*.iml
.metadata
gen/
bin/
app/src/main/res/values/strings_api_keys.xml
local.properties
dist/
build/
.gradle
.idea/libraries
.idea/modules.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/dictionaries
