*.class
*.swp
*.iml
.metadata
gen/
bin/
levelup-sdk-sample/.classpath
levelup-sdk-sample/.project
levelup-sdk-sample/.settings
levelup-sdk-sample/res/values/strings_api_keys.xml
local.properties
dist/
build/
.gradle
.idea/libraries
.idea/modules.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/dictionaries
